body{

background-color:#fff;

}
.bottom_line {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #663300;
}

.bullet {
	list-style-position: outside;
	list-style-image: url(../../images/arrow1.gif);
	list-style-type: none;
	font-family: Tahoma;
	font-size: 11px;
}
.text{
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}



.textb h1 a,h1,p{
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}
.tab_border {
	border: 1px solid #CCCCCC;
}
.butt_submit {
	background-color: #663333;
	border: 1px solid #FFFFFF;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.small_txt {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
a:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #663300;
	text-decoration: underline;
}

a {
	font-family: Tahoma;
	font-size: 11px;
	color: #663300;
	text-decoration: none;
}
.Error {
	font-family: Tahoma;
	font-size: 11px;
	color: #CC3333;
	border: 1px solid #CC3300;
	background-color: #FFECEC;
	padding: 10px;
}
.Heading1 {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.Heading2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.hints {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.redtext {
	font-family: Tahoma;
	font-size: 11px;
	color: #FF0000;
}.success {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #CFEFC0;
	border: 1px solid #669933;
	padding: 10px;
}
.block {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #907037;
	margin: 0px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.bgCol {
	background-color: #FCF0DA;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.bgColNew {
	background-color: #F5CE78;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.BorderNoTop{
    
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.BorderNoBottom{
    
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
}

.BorderNoBottomTop{
    
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    
}


.img_ads {
	border: 1px solid #999999;
}


/* Added by Khurram Mir September 04,2010 to add News functionality at home page */


.news 
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.news a {
	font-family: Tahoma;
	font-size: 12px;
	
	font-weight: bold;
	text-decoration: none;
}


.news a:hover {
	font-family: Tahoma;
	font-size: 12px;
	
	font-weight: bold;
	text-decoration: underline;
}

.pagnum {
	font-family: Tahoma;
	font-size: 11px;
	border: 1px solid #663300;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.pagnumsel {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6A4113;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #663300;
}

/* End Added by Khurram Mir September 04,2010 to add News functionality at home page */


}


<!--

.style6 {color: #663300}

.style13 {color: #000000}

-->


.roundedCorners{

	padding: 10px;

	background-color: #ffffff;

	border:4px solid #FAE4BC;

	/* Do rounding (native in Safari, Firefox and Chrome) */

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

}

.style16 {

	font-family: Tahoma;

	font-size: 12px;

	font-weight: bold;

}




.vl {

	border-right-width: 3px;

	border-right-style: solid;

	border-right-color: #FCF7EB;

}


.blue_bg {
      border-width: 12px;
table-layout:fixed;
    border-collapse: collapse;

	margin:0px;


}




.jobs_TBL {
      border-width: 2px;
	

    border-collapse: collapse;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;margin:0px;
	
}
.jobs_TBL td{
   height:25px;
   padding-left:10px

}


.blue_head {
	background-color:#006699;
	color: #ddc42c;
	background: url(blue-head.gif);
	background-repeat: repeat-x;
        height:25px;
        text-align:left;
		font-weight:bold;
		font-size:11px;
		font-family:Tahoma, Geneva, sans-serif;

}

.blue_header {
	background-color:#006699;
	color: #746E49;
	background: url(gre-head.gif);
	background-repeat: repeat-x;
        height:25px;
        text-align:left;
		border:#4B29A0 2px;table-layout:fixed;

}
 tr{
	padding: 0px:
 border-bottom: navy solid thin;
     	border: #bd8e19 solid thin;
       

 }
.blue_bg tr:nth-child(even) {background-color: #FCE3A5} 
.blue_bg tr:nth-child(odd) {background-color: #FCEBC5} 	
.blue_bg tr:hover {background-color: #E2B747} 
//.blue_bg tr:nth-child(odd):hover {background-color: #990}


.TBL_vmenu {
      border-width: 12px;
table-layout:fixed;
    border-collapse: collapse;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.TBL_vmenu td{
   height:25px;
   padding-left:3px;
   
}

 




.sttb{border-style:none;background-color:transparent;background-image:none;}
.sttr{border-style:none;background-color:transparent;background-image:none;}
.sttd{border-style:none;background-color:transparent;background-image:none;}
.stdv{border-style:none;background-color:transparent;background-image:none;margin:0px;padding:0px;}
.sta:link,.sta:hover,.sta:active,.sta:visited{display:block;border-style:none;background-color:transparent;background-image:none;margin:0px;padding:0px;}
.sthd{display:none;}
.stsp{border-style:none;background-color:transparent;background-image:none;margin:0px;padding:0px;}


#form2 {
  margin: 20px auto;
  padding: 40px 20px;
  
  background-color: #d4a72a;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  width:950px;table-layout:fixed;
  overflow: inherit;

}
/* main menu */

#main_menu {
	position: relative;
	
	left:0px;
}

#main_menu ul {
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}

#main_menu ul li {
	float: left;
	height:42px;
	width: 178px;
	border-left: 5px solid #000;
}

#main_menu ul li.selected {
	float: left;
	height: 42px;
	width: 160px;
	border-left: 10px solid #000;
	
}
#main_menu ul li.exposed a {
	font-size: 13px;
}

#main_menu ul li a {
	position: relative;
	display: block;
	font: bold 11px Arial;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #063056;
	text-decoration: none;
	padding: 0 75px 0 5px;
	margin-right: 2px;
	height: 42px;
}
#main_menu #disc{
	font-style:normal;
	font-size:10px;
	color: rgba(153,0,51,1);
		letter-spacing: 0px;
	text-transform: capitalize;
	}
#main_menu ul li a:hover {
	background: #BFC2A7;
}



.main_tbl{
	
	
	
}

main_tbl td{
	vertical-align:top;
	
}